@media (max-width: 1400px) {
  .wrapper__navbar {
    padding-left: 50px;
    padding-right: 50px;
  }

}

@media (max-width: 1200px) {
  .wrapper__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper__list-card {
    width: 40%;
    margin-bottom: 100px;
  }

}

@media(max-width:576px) {
  .wrapper__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper__list-card {
    width: 60%;
  }
  .wrapper__navbar-basket {
    width: 300px;
    height: 315px;
    overflow-x: scroll;
  }
}

@media(max-width:400px) {
  .wrapper__list-card {
    width: 90%;
}
}

@media print {
  .print {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .wrapper {
    display: none;
  }

}
